h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

.nav-section {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1px;
}

.something {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

.image {
  display: block;
  margin: 20px auto auto;
  padding-top: auto;
  padding-bottom: auto;
}

.brand {
  display: inline-block;
  width: auto;
  min-width: auto;
  padding: 20px auto;
  float: left;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

.image-2 {
  display: block;
  margin: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.paragraph {
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 500%;
  font-weight: 500;
  text-align: left;
  text-indent: 11%;
}

.paragraph-2 {
  display: inline-block;
  height: 100%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 400;
  text-align: left;
}

.greetings {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 27.5px;
  padding-bottom: 15px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 5em;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #000;
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
  background-color: hsla(0, 0%, 100%, .37);
}

.personal-info-text {
  display: inline-block;
  padding-top: 27.5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 143%;
  text-align: left;
  text-transform: none;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.works-section-title {
  padding-left: 25px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 200%;
  font-weight: 500;
}

.works-container {
  border: 1px none #000;
  border-radius: 75px;
}

.image-4 {
  margin-top: 0px;
  padding-top: 0px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-name-text-block {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
}

.link {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.text-block-3 {
  margin-bottom: 1px;
  margin-left: 50px;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.project-hashtags {
  font-weight: 300;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #333;
  text-align: left;
  text-decoration: none;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

.project-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.project-site-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.project-site-link-block:hover {
  background-color: transparent;
  box-shadow: -1px 1px 3px 0 #333;
}

.div-block-5 {
  padding-left: 10px;
}

.div-block-6 {
  display: block;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-8 {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.image-5 {
  width: 100%;
  float: left;
}

.div-block-9 {
  width: 10%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.more-information-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-item-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.facebook-page-link {
  padding: 10px;
}

.github-link {
  padding: 10px;
}

.ijnstagram-link {
  padding: 10px;
}

.curly-bracket {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15em;
}

.first-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.navbar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.first-section-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.personal-info-div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.un-decorated-link {
  background-color: transparent;
  color: #333;
}

.un-decorated-link:hover {
  text-decoration: underline;
}

.works-tab-link {
  background-color: transparent;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 400;
}

.works-tab-link.w--current {
  border-bottom: 1px solid #000;
  background-color: transparent;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.tab-link-2 {
  background-color: transparent;
}

.tab-link-3 {
  background-color: transparent;
}

.tab-link-4 {
  background-color: transparent;
}

.important-text-3 {
  font-weight: 400;
}

.important-text-4 {
  font-weight: 400;
}

.school-work-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.school-work-link-block:hover {
  background-color: transparent;
  box-shadow: 1px 1px 3px 0 #333;
}

.school-work-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.certificates-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.certificate-source-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: left;
}

.certificate-source-link-block:hover {
  background-color: transparent;
  box-shadow: 1px 1px 3px 0 #333;
}

.certificate-information {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 500;
}

.nav-menu-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: center;
}

.nav-menu-link:hover {
  text-decoration: underline;
}

.slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: transparent;
}

.yurt-disinda-okumak-blog-article-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/google-cloud-onboard-cloud-computing-101-cover_modul_1025x.jpg');
  background-position: 50% 50%;
  background-size: 438px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.other-stuff-link-block-information-block {
  padding: 10px;
}

.un-decorated-bold-link {
  background-color: transparent;
  color: #333;
  font-weight: 700;
}

.un-decorated-bold-link:hover {
  text-decoration: underline;
}

.tab-pane {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tab-pane-2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.link-block-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.other-stuff-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.other-stuff-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.google-cloud-on-board-blog-article-1-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.google-cloud-onboard-blog-article-1-image {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.other-stuff-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.other-stuff-list-item-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: left;
}

.other-stuff-list-item-link-block:hover {
  box-shadow: 1px 1px 3px 0 #333;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.webflow-link-block {
  padding: 10px;
}

.image-6 {
  padding: 10px;
}

@media (max-width: 991px) {
  .personal-info-text {
    font-size: 1.27em;
  }
  .nav-menu-link:hover {
    box-shadow: 1px 1px 3px 0 #333;
  }
  .nav-menu {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #333;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .icon {
    color: #333;
  }
}

@media (max-width: 767px) {
  .personal-info-text {
    font-size: 0.85em;
  }
  .nav-menu-link:hover {
    box-shadow: 1px 1px 3px 0 #333;
  }
  .nav-menu {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #333;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #333;
  }
  .menu-button.w--open {
    background-color: transparent;
    color: #333;
  }
}

@media (max-width: 479px) {
  .greetings {
    margin-top: 5px;
    padding-bottom: 0px;
    font-size: 190%;
  }
  .container {
    display: block;
  }
  .personal-info-text {
    overflow: auto;
    padding-right: 55px;
    padding-left: 81px;
    font-size: 0.64em;
  }
  .image-3 {
    max-height: 50%;
    max-width: auto;
  }
}